<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
          version="3.1">

  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>LoginEmployee</servlet-name>
    <servlet-class>com.revature.Servlets.LoginEmployee</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginEmployee</servlet-name>
    <url-pattern>/loginemployee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginManager</servlet-name>
    <servlet-class>com.revature.Servlets.LoginManager</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginManager</servlet-name>
    <url-pattern>/loginmanager</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.revature.Servlets.Logout</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MakeTicket</servlet-name>
    <servlet-class>com.revature.Servlets.MakeTicket</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MakeTicket</servlet-name>
    <url-pattern>/maketicket</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EmpViewTickets</servlet-name>
    <servlet-class>com.revature.Servlets.EmpViewTickets</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EmpViewTickets</servlet-name>
    <url-pattern>/empviewtickets</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MgrViewTickets</servlet-name>
    <servlet-class>com.revature.Servlets.MgrViewTickets</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MgrViewTickets</servlet-name>
    <url-pattern>/mgrviewtickets</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EmpViewPending</servlet-name>
    <servlet-class>com.revature.Servlets.EmpViewPending</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EmpViewPending</servlet-name>
    <url-pattern>/empviewpending</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MgrViewPending</servlet-name>
    <servlet-class>com.revature.Servlets.MgrViewPending</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MgrViewPending</servlet-name>
    <url-pattern>/mgrviewpending</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ApproveRequest</servlet-name>
    <servlet-class>com.revature.Servlets.ApproveRequest</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ApproveRequest</servlet-name>
    <url-pattern>/approverequest</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DenyRequest</servlet-name>
    <servlet-class>com.revature.Servlets.DenyRequest</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DenyRequest</servlet-name>
    <url-pattern>/denyrequest</url-pattern>
  </servlet-mapping>

</web-app>
