<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
          version="3.1">


  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>LoginEmployee</servlet-name>
    <servlet-class>LoginEmployee</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginEmployee</servlet-name>
    <url-pattern>/loginemployee</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>LoginManager</servlet-name>
    <servlet-class>LoginManager</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginManager</servlet-name>
    <url-pattern>/loginmanager</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Logout</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EmployeePage</servlet-name>
    <servlet-class>EmployeePage</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EmployeePage</servlet-name>
    <url-pattern>/employeepage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ManagerPage</servlet-name>
    <servlet-class>ManagerPage</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ManagerPage</servlet-name>
    <url-pattern>/managerpage</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ViewTicket</servlet-name>
    <servlet-class>ViewTicket</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ViewTicket</servlet-name>
    <url-pattern>/viewticket</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>MgrViewPend</servlet-name>
    <servlet-class>MgrViewPend</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>MgrViewPend</servlet-name>
    <url-pattern>/mgrview</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>EmpViewPend</servlet-name>
    <servlet-class>EmpViewPend</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>EmpViewPend</servlet-name>
    <url-pattern>/empview</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>ApproveReq</servlet-name>
    <servlet-class>ApproveReq</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ApproveReq</servlet-name>
    <url-pattern>/approve</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>DenyReq</servlet-name>
    <servlet-class>DenyReq</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DenyReq</servlet-name>
    <url-pattern>/deny</url-pattern>
  </servlet-mapping>

</web-app>
